@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;700&family=Montserrat:wght@100;900&family=PT+Serif&family=Roboto&display=swap');



.addendum{

	display:none;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	width:80%;

}

.addendumhead{
	display:flex;
	font-family: 'Josefin Slab', serif;
	font-size: 2em;
	font-weight: 600;
	color:white;
	justify-content: flex-end;
	padding: 1em 1em;
}
.closingBtn{
	margin: 0em;

}





.new-tweet{
	display:flex;
	flex-direction:column;
	align-items: center;
}

#tweet-text{
	background-color: #f4f1ec;
	border: none;
  border-bottom: 4px solid #545149;
  width: 90vw;
  height: 10vw;
  resize: none;

  margin: 20px 0px; 
}

#tweet-text:focus {
	outline:none;
}


#bajoTextInput{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	size: 90vw;
}

.error{
	display:flex;
	justify-content: center;
	background-color: #ff2222;
	border: none;
  
  width: 70vw;
  font-family: 'Bungee', cursive;
  color:#fafa47;
  padding:20px;
  margin: 20px 0px;
  font-size: 0.7em; 
}

.fa-exclamation-triangle{
	margin-right: 5px;
}

#tweetBtn{

	color:#ffffff;
	
	background: #F0F0F000;
	
	mix-blend-mode: normal;
}






/*///////DESKTOP MEDIA QUERY////////*/

@media screen and (min-width: 1024px){

	.new-tweet{

		width: 55vw;
		margin-top: 100px;
		padding: 5vh 5vw;
		margin-left: 40vw;
		align-self: flex-end;

	}

	#tweet-text{
		width: 96%;
		margin: 0rem;

	}

	#bajoTextInput{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		size: 55vw;
		margin-left: 5vw;
	}

	.error{
		display:flex;
		justify-content: center;

		background-color: #ff2222;
		border: none;
	  
	  width: 40vw;
	  font-family: 'Bungee', cursive;
	  color:#fafa47;
	  padding:20px;
	  margin: 20px 0px 20px 5vw;
	  font-size: 0.7em; 
	}
		



}
