@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;700&family=Montserrat:wght@100;900&family=PT+Serif&family=Roboto&display=swap');



.commentsContainer{
   max-height: 55vh;
   overflow-y: scroll;

}
.comment{
  display: flex;
  background-color:#f4f1ec;
  flex-direction: column;
}

.commentHead{
  color:#f4f1ec;
  background-color: #444C5C;
  box-shadow: 2px 2px #444C5C;
  margin-bottom: 1rem;
  padding-left: 2rem;

}

.commentContent{
  box-shadow: 2px 2px #444C5C;
  padding-left: 2rem;
}

.date{
  padding-left: 2rem;

}

.newCommentBtn {
  color: #474747;
  padding:5px;
  border:none;
  outline:none;
}

.newCommentBtn:active {
  box-shadow: 2px 2px gray;
}

.new_comment {
  display:none;
}

/* STAR RATING CSS*/

.star-rating s:hover,
.star-rating s.active {
    color: lemonchiffon;
}

.star-rating s {
    color: black;
    font-size: 1.5rem;
    cursor: default;
    text-decoration: none;
    line-height: 2rem;
}
.star-rating {
    padding: 2px;
}

.star-rating s:hover:before,
.star-rating s.rated:before,
.star-rating s.active:before {
    content: "\2605";
}
.star-rating s:before {
    content: "\2606";
}

