nav{
	background-color: #444C5C;
	width: 100vw;
	height: 10vh;
	padding: 1vw;
	font-family: 'Josefin Slab', serif;
	font-weight: 500;
  font-size: 24px;
  color: #e6dacf;
	display:flex;
	flex-direction:  row;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

nav h1.to-home {
  margin: 2vw 0;
  cursor: pointer;
}


.nav-btn {
  outline: none;
  border: none;
  background: inherit;
  color: inherit;
  text-decoration: underline;
}
.nav-btn:hover {
  cursor: pointer;
}

ul.dropdown-content {
  list-style-type: none;
  margin: 1px;
  padding:1px;
}

.nav-item {
  display:flex;
  justify-content:flex-start;
}
.nav-item .username {
  display:flex;
  align-items:center;
  padding-right:0.5em;
}

/* Links inside the navbar */
#add-patch:hover {
  cursor: copy;
}


/* The dropdown container */
.dropdown {
  overflow-y: hidden;
  z-index: 2;
}

/* Dropdown button */
.dropdown .dropbtn {
  color: #E1B16A;
  padding: 2px 2px;
  background-color: inherit;
  font-family: inherit;
  margin: 1em 1em 1em 0em; /* Important for vertical align on mobile phones */
}

/* Add effect to dropdown links on hover */
.nav-item li:hover, .dropdown:hover .dropbtn {
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  top:8vh;
  right:1vw;
  background-color: #E6DACF;
}

/* Links inside the dropdown */
.dropdown-content li {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  float: none;
  color: #444C5C;
  padding: 2px 2px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content .user-filter {
  text-decoration: none;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content li:hover {
  background-color: #faf2eb;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* wrapper for search bar */
#search-container {
  background-color: whitesmoke;
  margin: 3vw 1em;
}
#search-container:focus-within {
  border: solid #2f2f30;
}
#search-form input {
  outline:none;
  border: none;
  background-color: inherit;
  max-width: 20vw;
}
#search-form button {
  outline:none;
  border:none;
  font-size:0.8em;
  color: #616366;
  background-color: inherit;
}
#search-form button:hover {
  cursor:pointer;
}
#search-form {
  display:flex;
}

/* email input bar to login*/
#login_form input {
  border:none;
  outline:none;
  background-color: whitesmoke;
  max-width: 20vw;
}

#login_form input:focus {
  border: solid #2f2f30;
}


