@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Montserrat:wght@100;900&family=PT+Serif&family=Roboto&display=swap');

.board{

	width:99vw;
  height:85vh;
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
	border-style: solid;
	border-color: transparent;
  border-top-color: #444C5C;
	background-color:#faf9f7;
	margin: 5px 0 0 0;
  padding:0 1rem 0 1rem;
	flex-wrap: wrap;
  overflow: scroll;
}

.frame{
	display:flex;
	justify-content: flex-start;
	align-items: center;
	margin:5px;
	width: 22vw;
	height: 30vw;
	display:flex;
  padding: 0.5em;
	border:none;
	background-color: #CE5A57;
}

/* Color palette for patch frames */
.frame[data-category~="Software"] {
  background-color:#959fb1;
}
.frame[data-category~="Food"] {
  background-color:#E1B16A;
}
.frame[data-category~="Art"] {
  background-color:#CE5A57;
}
.frame[data-category~="Languages"] {
  background-color:#c2825b;
}
.frame[data-category~="Travel"] {
  background-color:#78a5a3;
}
.frame[data-category~="Personal"] {
  background-color:#CED2B1;
}

.frame.frameExpanded{
	z-index :1;
	position: absolute;
	width: 95vw;
	height:89vh;
	overflow: hidden;
}


.frame:hover{
	box-shadow: 5px 5px #545149;
	transform: scale(1.01);
}

.patch{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	font-family: 'Josefin Slab', serif;
	max-width: 50vw;
	max-height: 40vw;
}

.thumbnail{
	display:flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.thumbnailContent{
	max-width: 100%;
  max-height: 100%;
  padding:20px;
  /* mix-blend-mode: hard-light; */
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.25);
}


.patchinfo{
	height: 50px;
	width: 100%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding:5px;
  margin: 5px;
}

.infoHeader{
	color:white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 0em 1em;
	text-decoration: none;
	min-height: 48px;
	align-items: flex-end;
	padding-bottom: 5px;

}
.frameExpanded .infoHeader{
  font-size: 1.5rem;
}

.sourceUrl p{
	margin: 0px;
	padding: 0px;
	color: white;
	pointer-events: hand;


}

.usertag{
	margin: 0px;
	padding: 0px;
	font-size: 0.5rem;
	display: flex;
	text-align: end;
}

.frameExpanded .usertag{
	font-size: 1rem;
}

.patchinfo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 25%;
	max-height: 50px;
}
.patchinfo p{
	color:white;
	padding: 0em 1em;
	margin: 0em;

}

.patchinfoLeft{
	flex-grow: 2;
	display: flex;
	width:70%;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}

.patchinfoRight{
	display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: flex-end;


}

/*.saveflag{
	z-index:1;
}*/


/* @media screen and (min-width: 375px){
	.frame{
		width: 22vw;
		height: 30vw;
	};
}; */
