.registration-section {
  display: none;
}

#registration-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.success-message {
  display: none;
  text-align: center;
}

#signup {
  color: white;
}

.registration {
  margin: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.registration-field {
  border: 0.5px dashed black;
  padding: 0.5em;
  margin: 0.5em;
}

#registration-button {
  display: flex;
  justify-content: center;
  border: 0.5px dashed black;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #444C5C;
  color: white;
}

#exit-button {
  padding: 20px;
  margin: 18px;
  font-size: 18px;
  font-weight: bold;
}



@media only screen and (max-width: 600px) {
  .registration-form {
    align-items: center;
    padding: 5em;
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {


}

