
/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Roboto&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=PT+Serif&family=Roboto&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500;700&family=Montserrat:wght@100;900&family=PT+Serif&family=Roboto&display=swap');

/*font-family: 'Josefin Slab', serif;
font-family: 'Roboto', sans-serif;*/



body {
	background-color: #fff;
	color: #444;
	/*display: flex;*/
}

a {
	color: white;
	pointer-events: hand;
	text-decoration: none;
}


#content {
	position: absolute;
	top: 0; width: 100%;
	z-index: 1;
	padding: 3em 0 0 0;
}

#c {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.list-item {
	display: inline-block;
	margin: 1em;
	padding: 1em;
	box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.25);
}

.list-item > div:nth-child(1) {
	width: 200px;
	height: 200px;
}
.list-item > div:nth-child(2) {
	color: #888;
	font-family: sans-serif;
	font-size: large;
	width: 200px;
	margin-top: 0.5em;
}



/* #search-container {

} */

.typo{
	margin-left: 20px;
  color:#e6dacf;
  display:flex;

}



.board .coll-name {
  width:100%;
  margin: 1vw 2vh;

}


#flash-save {
 font-size:1.5rem;
 width:15rem;
 height:3em;
 margin:0 auto;
 background:#f7f7f7;
 opacity:0.8;
 position:absolute;
 left:50%;
 top:30%;
 margin-left:-10vw;
 margin-top:1vw;
 z-index:2;
 display:none;
}